############
#ForgeStuff#
############

/bin/*
/conf/*
/docs/*
/eclipse/*
/forge/*
/jars/*
/lib/*
/logs/*
/modsrc/*
/reobf/*
/runtime/*
/temp/*



/src/minecraft/*
!/src/minecraft/assets/
/src/minecraft/assets/forge
!/src/minecraft/me/
!/src/minecraft/mcmod.info

*.bat
*.sh

CHANGELOG
